/*
Colors used:
Primary Color (Off White): #f8f9fa;
Secondary Color (Dark Grey): #212529;
Accent Color: #998888;
Active Color: #5F506B;
*/

/*
Font family:
Font: Roboto;
*/

/*
BORDER
*/
* {
  box-sizing: border-box;
}

/*
BODY
*/
body {
  background-color: #f8f9fa;
  font-family: 'Roboto', sans-serif;
  font-size: 18px; /* Sets the font size to 18px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #212529;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/*
HEADER
*/header {
  background-color: #5F506B;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-bottom: 3px solid #212529;
  box-shadow: 5px 5px 20px #212529;
  position: relative;
}

main {
  padding-top: 133px;
}

/*
IMAGES
*/
img {
  width: 100%;
}

/*
LINKS
*/
a {
  color: #ffffff;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #998888;
}

a:hover {
  color: #998888;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #998888;
}

a:focus {
  color: #998888;
  text-decoration: underline;
}

main {
  padding-top: 5px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 5px;
  text-transform: uppercase;
  font-weight: 700;
  color: #f8f9fa;
}

nav > ul > li > a:visited {
  padding: 5px;
  text-transform: uppercase;
  font-weight: 700;
  color: #998888;
}

nav > ul > li > a:hover {
  padding: 5px;
  text-transform: uppercase;
  font-weight: 700;
  color: #998888;
}

nav > ul > li > a:active {
  padding: 5px;
  text-transform: uppercase;
  font-weight: 700;
  color: #998888;
}

/*
BUTTONS
*/
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #5F506B;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #998888; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  color: #ffffff;
  text-decoration: underline;
}

.button:active {
  color: #ffffff;
  text-decoration: underline;
}

.button.contact {
  background-color: transparent;
  color: #5F506B;
  text-transform: uppercase;
  border: 2px solid #5F506B;
}

.button.contact:hover {
  background-color: #998888;
  color: #ffffff;
}

[class*="col-"] {
  float: left;
}


/* Layout styling */

.container {
  padding: 0 15px;
  max-width: 100%;
  width: 1200px;
  margin: 0px auto;
}

.row {
  margin: 25px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#work .row { 
  background-color: #f8f9fa;
  color: #4a4a4a;
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#navigation h1 {
  background-color: #5f506b;
  color: #ffffff;
  text-align: center; /* Centers text */
}

.menu {
  background-color: #5f506b;
  color: #ffffff;
  text-align: center; /* Centers text */
}

.center {
  text-align: center;
}

.header {
  max-width: 250px;
}

.logo {
  max-width: 250px;
}

#hero {
  background-color: #5F506B;
  color: #ffffff;
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid #4a4a4a;
  text-align: center;
}

#hero span {
  display: block;
}

#hero h1 {
  text-align: center; /* Centers text */
  margin: 0;
  padding: 0.67em 0;
}

#work {
  background-color: #f8f9fa;
  color: #4a4a4a;
}

#about {
  background-color: #f8f9fa;
  color: #4a4a4a;
}

#casestudy {
  background-color: #f8f9fa;
  color: #4a4a4a;
}

#contact {
  background-color: #f8f9fa;
  color: #4a4a4a;
}

.social {
  color: #212529;
  display: inline-block;
  width: 50px;
  height: 50px;
}

#float-boxes div {
  text-align: center;
  padding: 25px;
  margin: 10px;
  float: both;
}

/* Media Queries */

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-md-6 {
  width: 50%;
}

#about h3 { margin-top: 0;}

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}